:root {
    --buttonSize: 22px;
    --buttonFontSize: 18px;
}

body {
    display: grid;
    height: 50vh;
    place-items: center;
    overflow-y: hidden;
    font-family: monospace;
}

.game {
    display: grid;
    grid-template-columns: repeat(8,auto);
    justify-content: center;
}

button {
    height: var(--buttonSize);
    width: var(--buttonSize);
    text-align: left;
    vertical-align: baseline;
    font-weight: bolder;
    line-height: 1;
    font-size: var(--buttonFontSize);
}

.available, .flag {
    background-color: #999;
    border: 3px solid #ccc;
    border-style: outset;
}

.flag {
    background-color: orange;
}

.clear, .bound, .bomb, .available:active {
    background-color: #aaa;
    border: 1px solid gray;
}

.bomb {
    background-color: red;
}

.b1 { color: blue; }
.b2 { color: green; }
.b3 { color: red; }
.b4 { color: darkblue; }
.b5 { color: darkred}
.b6 { color: darkcyan}

li {
    background-color: cadetblue;
    padding: 3px;
    margin: 1px;
}
    