:root {
    --buttonSize: 22px;
    --buttonFontSize: 18px;
}

body {
    display: grid;
    height: 100vh;
    place-items: center;
    overflow-y: hidden;
    font-family: monospace;
}

.game {
    display: grid;
    justify-content: center;
    border: 5px outset #777;
}

.w8 { grid-template-columns: repeat(8,auto); }
.w16 { grid-template-columns: repeat(16,auto); }
.w32 { grid-template-columns: repeat(32,auto); }

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 5px outset #777;
    background-color: #999;
    padding: 5px;
}

.win { border: 5px outset greenyellow; }
.lose { border: 5px outset orangered; }

.info {
    width: 100%;
    padding-bottom: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-newGame {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border-color: #777;
    background-color: khaki;
    text-align: center;
    transform: rotate(90deg);
}

button {
    height: var(--buttonSize);
    width: var(--buttonSize);
    text-align: left;
    vertical-align: baseline;
    font-weight: bolder;
    line-height: 1;
    font-size: var(--buttonFontSize);
}

.available, .flag, .noClic {
    background-color: #999;
    border: 3px solid #ccc;
    border-style: outset;
}

.flag {
    background-image: url('data:image/svg+xml;UTF-8,<svg xmlns="http://www.w3.org/2000/svg" width="22" height="22"> <line x1="9" x2="9" y1="4" y2="16" stroke="black" stroke-width="2" /> <polygon points="9 3, 9 8, 4 6" stroke="red" stroke-width="2" fill="red" /> <polygon points="9 13, 16 16, 2 16" fill="black" /> </svg>');
}

.failFlag {
    background-color: #e88;
}

.clear, .bound, .bomb {
    background-color: #aaa;
    border: 1px solid gray;
}

.bomb {
    background-image: url('data:image/svg+xml;UTF-8,<svg xmlns="http://www.w3.org/2000/svg" width="22" height="22"> <polyline points="12 10,16 16,1 10,16 4,10 19,4 4,19 10,4 16,10 1,16 16,10 12" stroke="black" /> <circle cx="10" cy="10" r="7" fill="black" /> <circle cx="8" cy="8" r="2" fill="white" /> </svg>');
}

.available:active {
    background-color: #aaa;
    border-style: inset;
}

.boom {
    background-color: red;
}

.b1 { color: blue; }
.b2 { color: green; }
.b3 { color: red; }
.b4 { color: darkblue; }
.b5 { color: darkred}
.b6 { color: darkcyan}
.b7 { color: black}

.infoFlags, .infoTime {
    background-color: #111;
    color: greenyellow;
    font-size: 20px;
    border-radius: 3px;
}